{% extends 'base.html' %} {% block content %} {% load static %}
<div class="row row-cols-md-5 row-cols-2">
  {% for product in products %}
  <div class="col mb-4">
    <div
      {% if product.stock < 1 %}
      class="card border-dark rounded"
      {% elif product.stock < 100 %}
      class="card border-info rounded"
      {% else %}
      class="card border-light rounded"
      {% endif %}
      style="height: 100%; min-width: 132px"
    >
      <img
        src="{{ product.image.url }}"
        class="card-img-top mx-auto"
        alt="{{ product.name | lower }} - image"
      />
      <div class="card-body">
        <h6 class="card-title text-center">{{ product.name }}</h6>
        <p class="card-text text-center mb-0 pb-0">
          <small>{{ product.provider }}</small>
        </p>
        <p class="card-text text-center text-success mb-0 pb-0">
          <small> ${{ product.price }} </small>
        </p>
        <div class="card-footer text-center">
          <div class="d-grid gap-2">
            <a class="btn btn-info" href="{{ product.name }}={{ product.id }}">
              Detail
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
